/* Fonts */
@charset "UTF-8";

@font-face {
    font-family: Sailec-Bold;
    src: url(../fonts/sailec-webfont/33C86F_0_0.eot);
    src: url(../fonts/sailec-webfont/33C86F_0_0.eot&#iefix) format("embedded-opentype"),
        url(../fonts/sailec-webfont/33C86F_0_0.woff2) format("woff2"),
        url(../fonts/sailec-webfont/33C86F_0_0.woff) format("woff"),
        url(../fonts/sailec-webfont/33C86F_0_0.ttf) format("truetype")
}

@font-face {
    font-family: Sailec-Light;
    src: url(../fonts/sailec-webfont/33C86F_2_0.eot);
    src: url(../fonts/sailec-webfont/33C86F_2_0.eot&#iefix) format("embedded-opentype"),
        url(../fonts/sailec-webfont/33C86F_2_0.woff2) format("woff2"),
        url(../fonts/sailec-webfont/33C86F_2_0.woff) format("woff"),
        url(../fonts/sailec-webfont/33C86F_2_0.ttf) format("truetype")
}

@font-face {
    font-family: Sailec-Medium;
    src: url(../fonts/sailec-webfont/33C86F_4_0.eot);
    src: url(../fonts/sailec-webfont/33C86F_4_0.eot&#iefix) format("embedded-opentype"),
        url(../fonts/sailec-webfont/33C86F_4_0.woff2) format("woff2"),
        url(../fonts/sailec-webfont/33C86F_4_0.woff) format("woff"),
        url(../fonts/sailec-webfont/33C86F_4_0.ttf) format("truetype")
}

@font-face {
    font-family: Sailec-Regular;
    src: url(../fonts/sailec-webfont/33C86F_6_0.eot);
    src: url(../fonts/sailec-webfont/33C86F_6_0.eot&#iefix) format("embedded-opentype"),
        url(../fonts/sailec-webfont/33C86F_6_0.woff2) format("woff2"),
        url(../fonts/sailec-webfont/33C86F_6_0.woff) format("woff"),
        url(../fonts/sailec-webfont/33C86F_6_0.ttf) format("truetype")
}

:root {
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #0b48ff;
    --fc-button-border-color: #0b48ff;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #0b48ff;
    --fc-button-active-bg-color: #0b48ff;
    --fc-button-active-border-color: #0b48ff;
}

body {
    font-family: 'Sailec-Regular';
}

.text-transform-none {
    text-transform: unset !important;
}

a:hover {
    text-decoration: unset;
}

nav.navbar {
    padding: 8px 64px;
}

.navbar-nav li a.active::after,
nav .navbar-nav li.active a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 15%;
    background: #0b48ff;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    margin: auto;
}

.navbar-nav li a.active,
nav .navbar-nav li.active a {
    color: #0b48ff !important;
}

.navbar-nav li {
    position: relative;
}

.navbar-nav li a {
    color: #000;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: center;
    font-family: Sailec-Medium;
    border: none !important;
}

.navbar-nav li a:hover {
    border-color: transparent !important;
    color: #3499ff;
}

.banner-card-wrap {
    margin-top: 24px;
    background-color: #19195f;
    border-radius: 53px;
    overflow: hidden;
}

.banner-card {
    padding: 40px 0;
    position: relative;
    z-index: 99;
}

.banner-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-position: left bottom;
    background-size: cover;
    right: 0;
    width: 55%;
    background-image: url(../images/banner-img.png);
}

.banner-card::after {
    content: "";
    position: absolute;
    left: -80px;
    top: 0;
    bottom: 0;
    background-image: url(../images/banner-shape1.png);
    height: 160px;
    width: 160px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

.ban-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(50% - 10px);
    flex: 0 50%;
    width: 50%;
    padding-left: 70px;
    transform: perspective(10px);
}

.title-date {
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
}

.title-txt {
    font-size: 72px;
    color: #A2D0FF;
    font-family: Sailec-Bold;
    margin-bottom: 20px;
}

.title-txt img {
    height: 36px;
    margin-bottom: 10px;
}

.title-txt span {
    color: #ffffff;
    position: relative;
}

.title-txt span:after {
    content: "";
    border-right: 10px #7F58D7 solid;
    position: absolute;
    height: 25px;
    border-bottom: 10px #7F58D7 solid;
    width: 25px;
    bottom: 20px;
    left: calc(100% + 35px);
}

.content-txt {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
}

.save-seat-btn {
    height: 48px;
    max-width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3973E6;
    color: #ffffff;
    font-family: Sailec-Medium;
    font-size: 14px;
    border-radius: 16px;
}

.save-seat-btn:hover {
    color: #ffffff;
    text-decoration: unset;
}

section {
    padding: 75px 0;
}

section .main-title-md {
    font-size: 40px;
    font-family: Sailec-Bold;
    line-height: 1.2;
    text-align: center;
    color: #060606;
}

section .main-title-sm {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #4d4d4d;
    /*text-transform: capitalize;*/
    margin-bottom: 30px;
    text-align: center;
}

.speakers-section .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 64px;
    flex-wrap: wrap;
    border: none;
}

.navbar-nav li.active a.nav-link:after {
    background: #3499ff;
}

.navbar-nav li.active a.nav-link {
    color: #3499ff !important;
    border: none;
}

.benifits-section h4 {
    margin-bottom: 40px;
}

.benifits-section .inner-card .card-content {
    background-color: #1a1a60;
    padding: 25px;
    flex: 1;
}

.benifits-section .inner-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    padding-top: 32px;
}

.benifits-section .inner-card .card-content h4 {
    font-size: 26px;
    color: #ffffff;
    font-family: Sailec-Bold;
    margin-bottom: 8px;
}

.benifits-section .inner-card p {
    font-size: 16px;
    color: #dce8ff;
    margin: 0;
    font-family: Sailec-Light;
}

.benifits-section .inner-card .img-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

.benifits-section .inner-card .img-area img {
    height: 220px;
    object-fit: contain;
}

.benifits-section .inner-card .img-area:before,
.benifits-section .inner-card .img-area:after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}

.benifits-section .inner-card .img-area:before {
    background-image: url(../images/asset-1.png);
}

.benifits-section .inner-card .img-area:after {
    background-color: #DCE8FF;
    opacity: 0.95;
}

/* Speaker section */

.speaker1,
.speaker2 {
    width: 100%;
    position: relative;
    margin-bottom: 34px;
}

.speaker1 a,
.speaker2 a {
    background: #205ed8;
    height: 55px;
    width: 55px;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #ffffff;
}

.speaker1 a:hover,
.speaker2 a:hover {
    color: #fff;
    opacity: 0.7;
    cursor: pointer;
}

.speaker1::before,
.speaker2::before,
.speaker1::after,
.speaker2::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background-size: contain;
    mix-blend-mode: hard-light;
    background-repeat: no-repeat;
}

.speaker1::before,
.speaker2::before {
    background-image: url(../images/speaker-shape1.png);
    left: -7.5px;
    bottom: 14px;
    transform: rotate(180deg);
}

.speaker1::after,
.speaker2::after {
    background-image: url(../images/speaker-shape1.png);
    right: -7.5px;
    top: 14px;
}


.speaker2::before {
    background-image: url(../images/speaker-shape2.png);
}

.speaker2::after {
    background-image: url(../images/speaker-shape2.png);
}


.speaker1 img,
.speaker2 img {
    width: 100%;
}

.speakers h4 {
    font-size: 18px;
    font-family: Sailec-Bold;
    text-align: center;
    color: #060606;
    margin-bottom: 12px;
}

.speakers p {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 64px;
}

.speakers-section .view-btn {
    width: 240px;
    height: 64px;
    border-radius: 8px;
    border: solid 3px #3a3985;
    font-size: 16px;
    font-family: Sailec-Bold;
    color: #3a3985;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: none;
}

.speakers-section .view-btn:hover {
    cursor: pointer;
    color: #3a3985;
    opacity: 0.8;
}

/* End */

/* Partner logo section */

.partner-logo-section {
    background-color: #eef3ff;
}

.partner-logo-section,
.agenda-section {
    padding: 100px 0;
}

.partner-logos .logo-card {
    width: 192px;
    height: 83px;
    border-radius: 16px;
    margin: 19px 16px;
}

.partner-logos .logo-card {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.partner-logos .logo-card>img {
    max-width: 100% !important;
    max-height: 100%;
    object-fit: contain;
    padding: 15px;
}

.partner-logo-section .owl-nav {
    display: flex;
    flex-direction: row;
}

.partner-logo-section .owl-nav button,
.agenda-section .owl-nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    background-color: #0b48ff !important;
    height: 64px;
    border-radius: 16px !important;
}

.partner-logo-section .owl-nav button.disabled,
.agenda-section .owl-nav button.disabled {
    background-color: #dbe4fe !important;
}

.partner-logo-section .owl-nav button i,
.agenda-section .owl-nav button i {
    color: white;
}



/* End */
.book-seat-section,
.banner-section1,
.banner-section2,
.benifits-section,
.default-section {
    padding: 0 64px;
    margin-bottom: 100px;
}

.book-seat-section .book-card-box {
    max-width: 1312px;
    width: 100%;
}

.book-seat-section .book-card-box>.row {
    border-radius: 16px;
    overflow: hidden;
}

.book-seat-section .book-card-box .sec-left {
    background-color: #3a3985;
    padding: 34px 40px;
    background-image: url(../images/form-banner.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center bottom;
}

.book-seat-section .vietna-box-card .sec-left {
    background-position: center bottom -45px;
}

.book-seat-section .book-card-box .sec-left h3 {
    font-size: 39px;
    font-family: Sailec-Bold;
    color: #ffffff;
    margin-bottom: 18px;
}

.book-seat-section .book-card-box .sec-left p {
    font-size: 16px;
    line-height: 1.5;
    color: #dce8ff;
}

.book-seat-section .book-card-box .sec-right {
    background-color: #eef3ff;
}

.book-seat-section .book-card-box .sec-right .fserv-container {
    max-width: unset;
    margin: 0;
    box-shadow: none;
    padding: 64px 48px;
    background-color: unset !important;
}

.book-seat-section .book-card-box .sec-right .fserv-container form {
    padding-top: 0;
}

.book-seat-section .book-card-box .sec-right .fserv-container .fserv-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.book-seat-section .book-card-box .sec-right .fserv-container .fserv-form>div:last-child {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
}

.book-seat-section .book-card-box .sec-right .fserv-container .fserv-form .fserv-field {
    flex: 0 50%;
    max-width: 50%;
    width: 50%;
}

.book-seat-section .book-card-box .sec-right .fserv-container div {
    margin: 0 !important;
}

.book-seat-section .book-card-box .sec-right .fserv-container form .fserv-field {
    padding: 0 16px !important;
    margin-bottom: 40px !important;
}

.book-seat-section .book-card-box .sec-right .fserv-container form .fserv-field+div:not(.fserv-field) {
    border-top: none;
    padding: 0 0 0 16px;

}

.book-seat-section .book-card-box .sec-right .fserv-container form .fserv-button-submit {
    min-width: 200px;
    height: 48px;
    border-radius: 16px;
    background-color: #3973e6 !important;
    font-size: 14px !important;
    font-family: Sailec-Medium;
    text-transform: uppercase;
}

button:focus,
input:focus {
    outline: none;
}

.book-seat-section .book-card-box .sec-right .fserv-container form .fserv-label {
    font-size: 16px !important;
    margin-bottom: 18px;
    padding: 0 !important;
    line-height: 1;
    font-weight: 500;
    color: #060606 !important;
}

.book-seat-section .book-card-box .sec-right .fserv-container form .fserv-input-text {
    font-size: 16px !important;
    border-radius: 4px;
    border: solid 2px #205ed8 !important;
    background-color: transparent !important;
}

.book-seat-section .book-card-box .sec-right .fserv-container .powered-by {
    display: none;
}

.book-seat-section .book-card-box .sec-right .fserv-container .fserv-input-checkbox:checked::before {
    border-color: #205ed8;
}

/* End */

.nxt-exp-section {
    background-color: #eef3ff;
    padding: 100px 64px;
}

.nxt-exp-section .main-title-md {
    margin-bottom: 42px;
}

.nxt-exp-section .inner-card {
    border-radius: 32px;
    box-shadow: 0 3px 24px 0 rgba(11, 72, 255, 0.08);
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 32px;
}

.nxt-exp-section .inner-card .card-ico {
    width: 122px;
    height: 122px;
    background-color: rgba(57, 115, 230, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 32px;
    margin-bottom: 30px;
}

.nxt-exp-section .inner-card .card-ico img {
    max-width: 100%;
    max-height: 100%;
}

.nxt-exp-section .inner-card h4 {
    font-size: 32px;
    font-family: Sailec-Bold;
    line-height: 1.75;
    color: #060606;
    margin-bottom: 0;
}

.nxt-exp-section .inner-card p {
    font-size: 14px;
    line-height: 1.13;
    color: #4d4d4d;
    margin-bottom: 16px;
}

.nxt-exp-section .inner-card a {
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 20px;
    background-color: #1a1a60;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding: 11px 30px;
    line-height: 1.2;
    cursor: pointer;
}

footer {
    padding: 32px 64px 16px 64px;
}

footer p,
footer a {
    font-size: 14px;
    font-weight: 500;
    color: #4d4d4d;
    margin-bottom: 0;
    margin-right: 20px;
    margin-bottom: 16px;
}

footer a:hover {
    cursor: pointer;
    color: #3973e6 !important;
}

/* End */

.banner-card2 {
    position: relative;
    overflow: hidden;
    border-radius: 53px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #eef4ff;
}

.banner-card2 .video-section {
    position: relative;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
}


.banner-card2 .video-section .bg-blue {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #3a3985;
    left: calc(50% - 72px);
    z-index: -1;
    overflow: hidden;
}

.banner-card2 .video-section .bg-blue:after {
    content: "";
    position: absolute;
    right: -220px;
    top: -220px;
    width: 442px;
    height: 442px;
    border: solid 50px #3499ff;
    border-radius: 50%;
}

.banner-card2 .play-video {
    width: 100%;
    padding-right: 100px;
    padding-left: 42px;
    padding-top: 42px;
    padding-bottom: 42px;
}

.banner-card2 .play-video .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #f66f6f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #ffffff;
}

.banner-card2 .play-video .play-btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.banner-card2 .count-design {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.banner-card2 .count-design p:before {
    content: "";
    width: 56px;
    height: 56px;
    background-color: #dce8ff;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}

.banner-card2 .count-design p {
    font-size: 40px;
    font-family: Sailec-Bold;
    color: #060606;
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    margin-bottom: 0;
    margin-top: 15px;
    position: relative;
    z-index: 10;
}

.banner-card2 .count-design span {
    font-size: 16px;
    font-family: Sailec-Medium;
    font-weight: 300;
    color: #4d4d4d;
    text-align: left;
}

.banner-card2 .left-side {
    padding: 40px 16px 40px 60px;
}


.banner-card2 .pre-title {
    font-size: 14px;
    font-family: Sailec-Bold;
    letter-spacing: 1.68px;
    color: #4d4d4d;
}


.banner-card2 .circle-shape {
    margin-bottom: 15px;
}

.banner-card2 .circle-shape span {
    width: 18px;
    height: 18px;
    background-color: #0e24ff;
    display: inline-block;
    border-radius: 50%;
    mix-blend-mode: hard-light;
}

.banner-card2 .circle-shape span:last-child {
    background-color: #7f58d7;
    margin-left: -12px;
}





/*  */
/* .book-seat-section .book-card-box .sec-right .fserv-container .powered-by add important for the display none --- */

.owl-dots {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.owl-theme .owl-dots .owl-dot {
    display: block;
}

.owl-theme .owl-dots button.owl-dot:focus {
    outline: none;
}

.partner-logos .owl-nav {
    margin-top: 60px;
}

.partner-logos.owl-carousel .owl-nav button.owl-next,
.partner-logos.owl-carousel .owl-nav button.owl-prev {
    padding: 10px 20px;
    display: inline-block;
    background-color: #0b48ff;
    color: #fff;
    border-radius: 16px;
    min-width: 64px;
    min-height: 64px;
    line-height: 44px;
}

.partner-logos button:focus {
    outline: none;
}

.partner-logos button.owl-next,
.partner-logos button.owl-prev {
    margin: 0 20px;
}

.partner-logos.owl-carousel .owl-nav button.owl-next.disabled,
.partner-logos.owl-carousel .owl-nav button.owl-prev.disabled {
    background-color: #dbe4fe;
}

.partner-logos .logo-card {
    text-align: center;
    margin: 0 auto;
}

.book-seat-section .book-card-box .sec-right .fserv-container .fserv-form .fserv-field.formserv-checkbox-field {
    flex: 0 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px !important;
}

.book-seat-section .book-card-box .sec-right .fserv-container form .fserv-label {
    max-width: 92%;
}

.fserv-container .fserv-form .fserv-input-checkbox {
    vertical-align: top;
}

/*  */
.social-icon-list {
    display: flex;
}

.social-icon-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: #ebf0ff;
    margin-right: 8px;
    border-radius: 50%;
}

.view-speaker-modal .modal-speaker-img {
    background-image: url(../images/modal-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
}

.view-speaker-modal .content-area .row>div:last-child {
    /* margin-left: 40%;
    margin-left: 40%; */
    /* padding: 50px; */
    padding: 50px;
}

.viewSpeakers .modal-content {
    border-radius: 53px;
    overflow: hidden;
}

.viewSpeakers .modal-body {
    padding: 0 !important;
}

.mw-400 {
    max-width: 400px;
}

.modal-content iframe {
    max-width: 100%;
}

button.navbar-toggler {
    position: absolute;
    right: 10px;
    top: 10px;
}

button.navbar-toggler .fa-bars:before {
    content: "\f00d";
}

button.navbar-toggler.collapsed .fa-bars:before {
    content: "\f0c9";
}

body>section,
nav.navbar {
    max-width: 2000px;
    margin: 0 auto;
}

.loading .banner-card {
    display: none;
}

.modal-backdrop {
    background-color: rgba(46, 46, 63);
}


/* Agenda start */


.agenda-row p {
    /* border: 1px #ccc solid; */
    margin: 0;
    border-block-start-style: none;
    border-right-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #4d4d4d;
    position: relative;
}

.agenda-row .row {
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 0.07);
    background-color: #fff;
    border-radius: 8px;
    margin: 0;
    width: auto;
    margin-bottom: 20px;
}

.agenda-row .row:nth-child(odd) {
    background-color: rgb(220 232 255 / 0.3);
}

.agenda-title {
    background-color: #f1f1f1;
    font-weight: 600;
    color: #060606;

}

/* Agenda end */
.speakers .speakersImg {
    /* filter: grayscale(1); */
}

.language-indicate {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.language-indicate-text {
    font-size: 20px;
    color: #0b48ff;
    font-family: Sailec-Medium;
    font-weight: normal;
    position: relative;
}

.language-indicate-text:after {
    background: #0b48ff;
    content: "";
    position: absolute;
    height: 2px;
    width: 24px;
    bottom: -6px;
    left: 0;
    right: 0;
    border-radius: 5px;
    margin: auto;
}

.language-indicate .fa {
    padding-right: 15px;
    padding-left: 15px;
}

.thankyou-text {
    font-size: 20px;
}

@media screen and (max-width:1199px) {
    .ban-card-content {
        max-width: calc(60% - 10px);
        flex: 0 70%;
        width: 70%;
        padding-left: 70px;
    }
}

@media screen and (max-width:991px) {
    .title-date {
        margin-bottom: 8px;
    }

    .title-txt br:first-child {
        display: none;
    }

    .title-txt span:after {
        border-right: 5px #7F58D7 solid;
        height: 15px;
        border-bottom: 5px #7F58D7 solid;
        width: 15px;
        bottom: 8px;
        left: calc(100% + 15px);
    }

    .title-txt {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .content-txt {
        margin-bottom: 25px;
        font-size: 14px;
    }

    .ban-card-content {
        padding-left: 40px;
    }

    .save-seat-btn {
        height: 50px;
        width: 185px;
    }

    footer .footer-nav {
        flex-direction: column;
        text-align: left;
        align-items: flex-start !important;
        margin-bottom: 32px;
    }

    footer .footer-nav a {
        margin-bottom: 16px;
    }
}

@media screen and (max-width:768px) {
    .view-speaker-modal .content-area {
        min-width: 400px;
    }
}

@media screen and (max-width:767px) {
    .mt-xd-2 {
        margin-top: 2em;
    }

    .ban-card-content {
        max-width: calc(80% - 10px);
        flex: 0 80%;
        width: 80%;
    }

    .banner-card::before {
        width: 60%;
        opacity: 0.3;
    }

    .title-txt br:first-child {
        display: none;
    }

    .title-txt,
    .content-txt {
        margin-bottom: 15px;
    }

    .save-seat-btn {
        height: 40px;
        width: 160px;
        font-size: 12px;
    }

}

@media screen and (max-width: 575px) {
    .fc .fc-toolbar.fc-header-toolbar {
        flex-wrap: wrap;
        text-align: center
    }

    .fc-toolbar-chunk {
        flex: 1 1 100%;
        margin-bottom: 10px
    }

    nav.navbar {
        box-shadow: 0px 2px 9px rgba(0, 0, 0, 25%);
    }

    nav.navbar {
        padding: 8px 16px;
    }

    .mw-400 {
        max-width: 300px;
    }

    section .main-title-md {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    section .main-title-sm {
        margin-bottom: 50px;
    }

    .speakers-section .view-btn {
        width: 220px;
        height: 55px;
        font-size: 14px;
    }

    .partner-logo-section,
    .agenda-section {
        padding: 70px 0;
    }

    .ban-card-content {
        max-width: calc(100% - 10px);
        flex: 0 100%;
        width: 100%;
    }

    .banner-card2 .left-side {
        padding: 30px 32px;
    }

    .benifits-section .inner-card .card-content h4 {
        font-size: 20px;
    }

    .banner-card2 .play-video {
        padding-right: 32px;
        padding-left: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .banner-card2 .count-design p {
        font-size: 32px;
        margin-right: 32px;
        margin-top: 22px;
    }

    .banner-card2 .count-design span {
        font-size: 14px;
    }

    .book-seat-section,
    .banner-section1,
    .banner-section2,
    .benifits-section,
    .default-section {
        padding: 0 16px;
        margin: 16px;
        margin-bottom: 80px;
    }

    .banner-section1,
    .banner-section2,
    .benifits-section {
        padding: 0;
    }

    .banner-card-wrap,
    .banner-card2,
    .benifits-section .inner-card {
        border-radius: 16px;
    }

    .benifits-section .inner-card .img-area {
        border-radius: 16px 16px 0 0;
    }

    .partner-logo-section .owl-nav button,
    .agenda-section .owl-nav button {
        width: 50px;
        height: 50px;
        border-radius: 12px !important;
    }

    .partner-logos button.owl-next,
    .partner-logos button.owl-prev {
        margin: 0 15px;
    }

    .book-seat-section .book-card-box .sec-left {
        padding: 32px 32px;
    }

    .book-seat-section .book-card-box .sec-right .fserv-container {
        padding: 16px 0;
    }

    .book-seat-section .book-card-box .sec-right .fserv-container form .fserv-field+div:not(.fserv-field) {
        width: 100%;
        padding: 0;
    }

    .book-seat-section .book-card-box .sec-right .fserv-container form .fserv-button-submit {
        width: 200px;
        margin: auto;
        display: block;
        height: 55px;
    }

    .nxt-exp-section {
        padding: 50px 16px;
    }

    .nxt-exp-section .inner-card {
        border-radius: 16px;
    }

    .nxt-exp-section .main-title-md {
        margin-bottom: 32px;
    }

    .nxt-exp-section .inner-card h4 {
        font-size: 28px;
    }

    footer .footer-nav {
        flex-direction: column;
        text-align: left;
        align-items: flex-start !important;
        margin-bottom: 32px;
    }

    footer .footer-nav a {
        margin-bottom: 16px;
    }

    .nxt-exp-section .inner-card {
        padding: 40px 20px;
    }

    .book-seat-section .book-card-box .sec-right .fserv-container .fserv-form .fserv-field {
        flex: 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 32px !important;
    }

    .speaker1::before,
    .speaker2::before,
    .speaker1::after,
    .speaker2::after {
        height: 40px;
        width: 40px;
    }

    .speaker1::before,
    .speaker2::before {
        left: -5.5px;
        bottom: 10px;
    }

    .speaker1::after,
    .speaker2::after {
        right: -5.5px;
        top: 10px;
    }

    .speaker1 a,
    .speaker2 a {
        height: 40px;
        width: 40px;
        font-size: 20px;
    }

    /* Agenda start */
    .agenda-row .agenda-title {
        display: none;
    }

    .agenda-row .agenda-time,
    .agenda-row .agenda-type {
        border-bottom: none;
    }

    .agenda-row .agenda-time::before,
    .agenda-row .agenda-type::before,
    .agenda-row .agenda-topic::before {
        color: #060606;
        font-weight: 600;
        font-size: 13px;
    }

    .agenda-row .agenda-time::before {
        content: "Time : ";
    }

    .agenda-row .agenda-type::before {
        content: "Type : ";
    }

    .agenda-row .agenda-topic::before {
        content: "Session : ";
    }

    /* Agenda end */
}